@model HotelReservations.Models.ReserveModel

@{
    ViewData["Title"] = "Reserve Page";
}

<form class="row m-5" asp-action="BookHotel" asp-controller="Hotel">
    <div class="container-fluid">
        <div class="d-lg-flex break-flex row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 my-3">
                <h2 class="text-center">Reserve page</h2>
                <div class="form-group my-3">
                    <label for="name" asp-for="@Model.Hotel.Name">Hotel name: </label>
                    <input type="text" asp-for="@Model.Hotel.Name" id="name" class="form-control" value="@Model.Hotel.Name" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="description" asp-for="@Model.Hotel.Description">Hotel description: </label>
                    <textarea asp-for="@Model.Hotel.Description" id="description" class="form-control" value="@Model.Hotel.Description" cols="30" rows="4" readonly="readonly"></textarea>
                </div>
                <div class="form-group my-3">
                    <label for="location" asp-for="@Model.Hotel.Location">Hotel location: </label>
                    <input type="text" asp-for="@Model.Hotel.Location" id="location" class="form-control" value="@Model.Hotel.Location" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="roomCount" asp-for="@Model.Hotel.RoomCount">Number of rooms in the hotel: </label>
                    <input type="number" asp-for="@Model.Hotel.RoomCount" id="roomCount" class="form-control" value="@Model.Hotel.RoomCount" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="image" asp-for="@Model.Hotel.Image">Hotel image: </label>
                    <img id="image" src="@Model.Hotel.Image" alt="Hotel image" class="card-img-top" width="200" height="200">
                </div>
            </div>

            <div class="col-lg-2 my-lg-5"></div>

            <div class="col-lg-4 my-3">
                <h2 class="text-center">Personal info</h2>
                <div class="form-group my-3">
                    <label for="firstName" asp-for="@Model.User.FirstName">First Name: </label>
                    <input type="text" asp-for="@Model.User.FirstName" id="firstName" class="form-control" value="@Model.User.FirstName" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="lastName" asp-for="@Model.User.LastName">Last Name: </label>
                    <input type="text" asp-for="@Model.User.LastName" id="lastName" class="form-control" value="@Model.User.LastName" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="phoneNumber" asp-for="@Model.User.PhoneNumber">Phone Number: </label>
                    <input type="text" asp-for="@Model.User.PhoneNumber" id="phoneNumber" class="form-control" value="@Model.User.PhoneNumber" readonly="readonly">
                </div>
                <div class="form-group my-3">
                    <label for="email" asp-for="@Model.User.Email">Email: </label>
                    <input type="text" asp-for="@Model.User.Email" id="email" class="form-control" value="@Model.User.Email" readonly="readonly">
                </div>
                <br>
                <br>
                <br>
                <h4 class="text-center">Reservation form</h4>

                <div class="input-group mb-3">
                    <span class="input-group-text">Date</span>
                    <input asp-for="Properties.DateFrom" type="date" value="@Model.Properties.DateFrom.Date.ToString("yyyy-MM-dd")" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Duration</span>
                    <input asp-for="Properties.Duration" type="number" min="1" value="@Model.Properties.Duration" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Number of people</span>
                    <input asp-for="Properties.Capacity" type="number" min="1" value="@Model.Properties.Capacity" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Destination</span>
                    <input asp-for="Properties.Destination" type="text" value="@Model.Properties.Destination" class="form-control">
                </div>

                <input asp-for="Hotel.Id" hidden/>
                <input asp-for="Hotel.Image" hidden/>
                <input asp-for="User.UserName" hidden/>


                <button type="submit" class="btn btn-primary">Reserve</button>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</form>